<div class="heder_wrapper">
  <app-header-logo></app-header-logo>
  <ng-container *ngIf="logined$ | async">
    <app-header-input (inputClick)="myInpytClick($event)"></app-header-input>
    <app-header-settings
      (settingsClick)="onSettingsClick()"
    ></app-header-settings>
    <app-header-login (click)="logout()"></app-header-login>
  </ng-container>
</div>

<app-filters
  [isOpen]="isFiltersOpen"
  (inputValueChange)="myInputValue($event)"
  (clickDate)="myClickDate($event)"
  (clickReset)="myClickReset($event)"
></app-filters>
