.btn_search {
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  background: #2f80ed;
  color: #ffff;
}

.search_input {
  width: 350px;
  height: 25px;
  border: none;
  background: #efefef;
}
.search_input:focus {
  outline: 0;
}
