.item_wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 325px;
  margin: 1%;
  border-radius: 5px;
  background: #e5e5e5;
}

.item_img {
  border-radius: 4px 4px 0 0;
}

.item_icons * {
  margin: 0 3px;
  font-size: small;
}

.item_title {
  padding: 0 10px;
}

.btn_search_item {
  padding: 0 30px;
  line-height: 30px;
  background: #2f80ed;
}
.btn_search_item,
.item_icons {
  margin: 0 auto;
}
