.item_wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 325px;
  margin: 1%;
  border-radius: 5px;
  background: #e5e5e5;
}

.item_img {
  border-radius: 4px 4px 0 0;
}

.item_icons * {
  margin: 0 3px;
  font-size: small;
}

.item_title {
  padding: 0 10px;
}

.btn_search_item {
  display: block;
  width: 120px;
  height: 32px;
  border: none;
  border-radius: 5px;
  background: #2f80ed;
  box-shadow: 3px -3px 10px #2f80ed;
  color: white;
}
.btn_search_item,
.item_icons {
  margin: 0 auto;
}
