.filters_wrapper {
  display: none;
}
.isCssClassOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #e5e5e5;
}
.filters_btn {
  margin: 0 3px;
  padding: 0;
  width: 60px;
  height: 25px;
  line-height: initial;
}
.filters {
  margin: 0 5px;
}
.active {
  cursor: pointer;
  background: #2f80ed;
  color: #ffff;
}
