.filters_wrapper {
  display: none;
}
.isCssClassOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #e5e5e5;
}
.filters_btn {
  margin: 0 3px;
  width: 60px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}
.filters {
  margin: 0 5px;
}
.filters_input {
  border: none;
  background: #efefef;
}
.filters_input:focus {
  outline: 0;
}
.active {
  width: 60px;
  height: 25px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: #2f80ed;
  color: #ffff;
}
