<div [class.isCssClassOpen]="isOpen" class="filters_wrapper">
  <span class="filters">Sorting by:</span>
  <button
    mat-raised-button
    color="accent"
    type="button"
    [class.active]="sortDateActive"
    class="filters_btn"
    (click)="onDate()"
  >
    date &#11137;
  </button>
  <button
    mat-raised-button
    color="accent"
    type="button"
    class="filters_btn"
    (click)="onReset()"
  >
    reset
  </button>
  <span class="filters">by word or sentance:</span>
  <mat-form-field>
    <input
      matInput
      placeholder="what to search?"
      type="text"
      class="filters filters_input"
      (input)="onInput($event)"
    />
  </mat-form-field>
</div>
