body {
  font-family: Arial, Helvetica, sans-serif;
}
.redClass {
  border-bottom: 10px red solid;
}
.blueClass {
  border-bottom: 10px blue solid;
}
.yellowClass {
  border-bottom: 10px yellow solid;
}
