.redClass {
  border-bottom: 10px red solid;
}
.blueClass {
  border-bottom: 10px blue solid;
}
.yellowClass {
  border-bottom: 10px yellow solid;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
